stages:
- build

variables:
  IMAGE_WITH_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG

build:
  stage: build
  tags: [ shell ]
  only: [ tags ]
  before_script:
  - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  script:
  - docker build -t ${IMAGE_WITH_TAG} -f Dockerfile .
  - docker push ${IMAGE_WITH_TAG}
